body {
    text-align: center;
    font-size: 3em;
}

.top-lane{
  border: solid 1px black;
  height: 65px;
  margin: 0% 0% -4% 0%;
}


.top-field{
  position: relative;
  border: solid 1px red;
  margin: auto;
  width: 505px;
  display: inline-block;
  height: 100%;

}

.three-fields{
  width: 31%;
  display: inherit;
  margin: inherit;

}

.select-field{
  border: solid 1px blue;
  position: relative;
}

.dropList{
  /* display:none; */
  position: absolute;
  box-shadow: 0px 16px 16px 0px #111;
  z-index: 1;
  background-color: #f1f1f1;
  border-radius: 5px;

}

.dropList div{
  margin: 3% 3%;
  border-radius: 3px;
}
.dropList div:hover{
  background-color: #ccc;

}

.score-field{
  border: solid 1px black;
}

.gem-field{
  border: solid 1px green;
}
